@import url('./content.css');
@import url('./header.css');
@import url('./main.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'B612-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: url('../font/B612-Regular.ttf');
}

@font-face {
    font-family: 'B612-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;

    src: url('../font/B612-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;

    src: url('../font/OpenSans-Bold.ttf');
}

:root {
    --white: #FFFFFF;
    --dark: #131318;
    --gray: #7D7D7D;

    --yellow: #FFA800;
    --blue: #0072D2;
}

header {
    height: 47.5%;
}

main {
    height: 52.5%;
}