.main__content {
    position: relative;
    height: 100%;

    display: flex;
}

.film-cover-art {
    width: 184px;
    height: 267px;

    margin-left: 230px;
    border-radius: 20px;

    background: url('../image/cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.film-info {
    margin-left: 73px;
}

.film-description {
    max-width: 722px;
}

.film-description p {
    font-family: 'B612-Regular', sans-serif;
    font-size: 20px;
    line-height: 32px;

    color: inherit;
}

.film-data {
    display: flex;

    margin-top: 39px;
}

.film-length {
    display: flex;
}

.length-icon {
    padding-top: 5px;
}

.length-info {
    margin-left: 14.5px;
    padding-top: 8px;
}

.length-info p {
    font-family: 'B612-Bold', sans-serif;
    font-size: 24px;
    line-height: 29.16px;

    color: inherit;
}

.film-rating {
    margin-left: 90px;
}

.film-rating svg{
    margin-left: 7.33px;
}

.film-release-year {
    margin-left: 113.33px;
    padding-top: 8px;
}

.film-release-year {
    font-family: 'B612-Bold', sans-serif;
    font-size: 24px;
    line-height: 29.16px;

    color: inherit;
}

.film-btn {
    display: flex;
    gap: 21px;

    margin-top: 43.97px;
}

.btn-watch {
    width: 184px;
    height: 52px;

    border: none;
    border-radius: 3px;

    background: var(--blue);

    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    line-height: 21.79px;

    color: inherit;
}

.btn-trailer {
    width: 115px;
    height: 52px;

    border: 1px solid var(--white);
    border-radius: 3px;

    background: var(--dark);

    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    line-height: 22px;

    color: inherit;
}

@media (max-width: 1024px) {
    .film-cover-art {
        margin-left: 80px;
    }
    
    .film-info {
        margin-left: 73px;
    }
    
    .film-description {
        max-width: 600px;
    }
    
    .film-description p {
        font-size: 18px;
        line-height: 30px;
    
        color: inherit;
    }
    
    .film-data {
        margin-top: 35px;
    }
    
    .length-info p {
        font-size: 22px;
        line-height: 27.16px;
    
        color: inherit;
    }
    
    .film-rating {
        margin-left: 50px;
    }
    
    .film-release-year {
        margin-left: 83.33px;
    }
    
    .film-release-year {
        font-size: 22px;
        line-height: 27.16px;
    
        color: inherit;
    }
    
    .film-btn {
        margin-top: 40.97px;
    }
}

@media (max-width: 768px) {
    .film-cover-art {
        margin-left: 40px;
    }
    
    .film-info {
        margin-left: 45px;
    }
    
    .film-description {
        max-width: 480px;
    }
    
    .film-description p {
        font-size: 16px;
        line-height: 28px;
    
        color: inherit;
    }
    
    .film-data {
        margin-top: 26px;
    }

    .length-icon svg {
        width: 26px;
        height: 26px;
    }
    
    .length-info p {
        font-size: 20px;
        line-height: 25.16px;
    
        color: inherit;
    }
    
    .film-rating {
        margin-left: 40px;
    }
    
    .film-rating svg{
        width: 30px;
        height: 30px;
    }
    
    .film-release-year {
        margin-left: 50.33px;
    }
    
    .film-release-year {
        font-family: 'B612-Bold', sans-serif;
        font-size: 20px;
        line-height: 25.16px;
    
        color: inherit;
    }
    
    .film-btn {
        display: flex;
        gap: 21px;
    
        margin-top: 40px;
    }
    
    .btn-watch {
        width: 164px;
        height: 42px;

        font-size: 14px;
        line-height: 20.79px;
    
        color: inherit;
    }
    
    .btn-trailer {
        width: 95px;
        height: 42px;

        font-size: 14px;
        line-height: 20px;
    
        color: inherit;
    }
}

@media (max-width: 425px) {
    .film-cover-art {
        width: 50px;

        transform: translateX(-100px);
    }

    .film-info {
        position: absolute;
        
        width: 425px;
        height: 250px;

        border: none;
        border-radius: 20px 20px 0px 0px;

        background: #19191F;

        margin: 0;
        transform: translateX(-45px);
        transform: translateY(345px);
    }

    .film-description {
        max-width: 400px;

        padding-top: 135px;
        padding-left: 24px;
    }
    
    .film-description p {
        font-size: 15px;
        line-height: 21px;
    
        color: inherit;
    }

    .film-data {
        display: flex;

        transform: translateY(-310px);
    }
    
    .film-length {
        display: flex;

        padding-left: 24px;
    }
    
    .length-icon {
        padding-top: 7px;
    }

    .length-icon svg {
        width: 18px;
        height: 18px;
    }
    
    .length-info {
        margin-left: 14.5px;
        padding-top: 8px;
    }
    
    .length-info p {
        font-size: 16px;
        line-height: 19.44px;
    
        color: inherit;
    }
    
    .film-rating {
        margin-left: 45.67px;
        padding-top: 3px;
    }
    
    .film-rating svg{
        margin-left: 5px;

        width: 24px;
        height: 23px;
    }
    
    .film-release-year {
        margin-left: 50.67px;
        padding-top: 8px;
    }
    
    .film-release-year {
        font-size: 16px;
        line-height: 19.44px;
    
        color: inherit;
    }

    .film-line {
        width: 376px;
        height: 2px;

        background: rgba(196, 196, 196, 0.08);

        margin-left: 24px;
        transform: translateY(-165px);
    }

    .film-btn {
        display: flex;
        gap: 11px;

        transform: translateY(-280px);
    }
    
    .btn-watch {
        width: 180px;
        height: 40px;
        
        margin-left: 24px;
    
        font-size: 14px;
        line-height: 19.07px;
    
        color: inherit;
    }
    
    .btn-trailer {
        width: 180px;
        height: 40px;
    
        font-size: 14px;
        line-height: 19.07px;
    
        color: inherit;
    }
}

@media (max-width: 375px) {
    .film-info {
        width: 375px;
    }

    .film-description {
        padding-top: 140px;
    }
    
    .film-description p {
        max-width: 340px;

        font-size: 14px;
        line-height: 19.6px;
    
        color: inherit;
    }

    .film-data {
        transform: translateY(-300px);
    }

    .length-icon svg {
        width: 18px;
        height: 18px;
    }
    
    .length-info p {
        font-size: 16px;
        line-height: 19.44px;
    
        color: inherit;
    }
    
    .film-rating {
        margin-left: 32.67px;
        padding-top: 5px;
    }
    
    .film-rating svg{
        margin-left: 5px;

        width: 20px;
        height: 20px;
    }
    
    .film-release-year {
        margin-left: 38.67px;
    }

    .film-line {
        width: 333px;
        height: 2px;

        background: rgba(196, 196, 196, 0.08);

        margin-left: 24px;
        transform: translateY(-165px);
    }

    .film-btn {
        display: flex;
        gap: 11px;

        transform: translateY(-280px);
    }
    
    .btn-watch {
        width: 160px;
        height: 35px;
        
        margin-left: 24px;
    
        font-size: 14px;
        line-height: 19.07px;
    
        color: inherit;
    }
    
    .btn-trailer {
        width: 160px;
        height: 35px;
    
        font-size: 14px;
        line-height: 19.07px;
    
        color: inherit;
    }
}

@media (max-width: 375px) {
    .film-info {
        width: 320px;
    }

    .film-description {
        padding-top: 120px;
    }
    
    .film-description p {
        max-width: 310px;

        font-size: 14px;
        line-height: 19.6px;
    
        color: inherit;
    }

    .film-data {
        transform: translateY(-305px);
    }

    .length-icon svg {
        width: 18px;
        height: 18px;
    }
    
    .length-info p {
        font-size: 16px;
        line-height: 19.44px;
    
        color: inherit;
    }
    
    .film-rating {
        margin-left: 20.67px;
        padding-top: 8px;
    }
    
    .film-rating svg{
        margin-left: 2px;

        width: 16px;
        height: 15px;
    }
    
    .film-release-year {
        margin-left: 25.67px;
    }

    .film-line {
        width: 280px;
        height: 2px;

        background: rgba(196, 196, 196, 0.08);

        margin-left: 24px;
        transform: translateY(-180px);
    }

    .film-btn {
        display: flex;
        gap: 11px;

        transform: translateY(-290px);
    }
    
    .btn-watch {
        width: 134px;
        height: 35px;
        
        margin-left: 24px;
    
        font-size: 14px;
        line-height: 19.07px;
    
        color: inherit;
    }
    
    .btn-trailer {
        width: 134px;
        height: 35px;
    
        font-size: 14px;
        line-height: 19.07px;
    
        color: inherit;
    }
}